.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  max-width: 1170px;
  padding: 17px 16px;
  background-color: $header-background;
  margin: 0 auto;
  @include tablet {
    padding: 17px 32px;
  }
  @include tabletBig {
    padding: 17px 60px;
  }
  @include desktop {
    padding: 17px 0px;
  }
}

.headerContentWrapper {
  @extend%aligncenter;
  justify-content: space-between;
}

.linkWrapper {
  @extend%aligncenter;
  gap: 10px;
}
