.layout {
  width: 328px;
  @extend%aligncenter;
  flex-direction: column;
  gap: 50px;
  @include tablet {
    width: 380px;
  }
}

.positionWrapper {
  @extend%aligncenter;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.radioInputWrapper {
  @extend%aligncenter;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}
.errorMessage {
  color: $red;
  font-size: 12px;
  font-weight: 500;
}
