.contentWrapper {
  @extend%aligncenter;
  flex-direction: column;
  padding: 140px 0 140px;
  gap: 50px;
  h2 {
    width: 328px;
  }
  @include tablet {
    h2 {
      width: 704px;
    }
  }
}
.layout {
  width: 328px;
  @extend%aligncenter;
  flex-direction: column;
  gap: 50px;
}

.positionWrapper {
  @extend%aligncenter;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.radioInputWrapper {
  @extend%aligncenter;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}
