.hero {
  @extend%aligncenter;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url('../hero.webp'),
    lightgray -446.56px -317.009px / 342.315% 164.03% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
  @include tabletBig {
    height: 650px;
  }
  @include desktop {
    width: 1170px;
    margin: 0 auto;
  }
}
.heroContentWrapper {
  @extend%aligncenter;
  flex-direction: column;
  gap: 32px;

  color: white;
}
.hero_textWrapper {
  width: 328px;
  @extend%aligncenter;
  flex-direction: column;
  gap: 21px;
  text-align: center;
  @include tablet {
    width: 380px;
  }
}
